DROP VIEW IF EXISTS `vu_total_sisa_paket`;
CREATE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY INVOKER VIEW `vu_total_sisa_paket` AS select sum(`submaster_apaket_item`.`sapaket_sisa_item`) AS `total_sisa_paket`,`submaster_apaket_item`.`sapaket_master` AS `sapaket_master` from (`submaster_apaket_item` join `master_ambil_paket` on((`submaster_apaket_item`.`sapaket_master` = `master_ambil_paket`.`apaket_id`))) group by `submaster_apaket_item`.`sapaket_master`;