CREATE OR REPLACE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY INVOKER VIEW `vu_report_tindakan_terapis` AS select count(`tindakan_detail`.`dtrawat_petugas2`) AS `terapis_count`,`tindakan_detail`.`dtrawat_petugas2` AS `terapis_id`,date_format(`tindakan_detail`.`dtrawat_date_create`,'%Y-%m') AS `terapis_bulan` from `tindakan_detail` where (`tindakan_detail`.`dtrawat_petugas2` <> 0) group by date_format(`tindakan_detail`.`dtrawat_date_create`,'%Y-%m'),`tindakan_detail`.`dtrawat_petugas2`;

CREATE OR REPLACE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY INVOKER VIEW `vu_report_tindakan_dokter` AS select count(`tindakan_detail`.`dtrawat_petugas1`) AS `dokter_count`,`tindakan_detail`.`dtrawat_petugas1` AS `dokter_id`,date_format(`tindakan_detail`.`dtrawat_date_create`,'%Y-%m') AS `dokter_bulan` from `tindakan_detail` where (`tindakan_detail`.`dtrawat_petugas1` <> 0) group by date_format(`tindakan_detail`.`dtrawat_date_create`,'%Y-%m'),`tindakan_detail`.`dtrawat_petugas1`;