CREATE OR REPLACE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY INVOKER VIEW `vu_report_tindakan_terapis` AS select count(`appointment_detail`.`dapp_petugas2`) AS `terapis_count`,`appointment_detail`.`dapp_petugas2` AS `terapis_id`,date_format(`appointment_detail`.`dapp_tgldatang`,'%Y-%m') AS `terapis_bulan` from `appointment_detail` where ((`appointment_detail`.`dapp_counter` = 'true') and (`appointment_detail`.`dapp_petugas2` <> 0)) group by date_format(`appointment_detail`.`dapp_tgldatang`,'%Y-%m'),`appointment_detail`.`dapp_petugas2`;

CREATE OR REPLACE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY INVOKER VIEW `vu_report_tindakan_dokter` AS select count(`appointment_detail`.`dapp_petugas`) AS `dokter_count`,`appointment_detail`.`dapp_petugas` AS `dokter_id`,date_format(`appointment_detail`.`dapp_tgldatang`,'%Y-%m') AS `dokter_bulan` from `appointment_detail` where (`appointment_detail`.`dapp_petugas` <> 0) group by date_format(`appointment_detail`.`dapp_tgldatang`,'%Y-%m'),`appointment_detail`.`dapp_petugas`;
